/* Piccola animazione per le parti interattive */
input,
button,
span {
    transition-duration: 100ms;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* Il bottone per uscire diventa rosso */
.exit:hover {
    background-color: #c90000;
}

/* Icone */
svg {
    stroke-width: 1;
    height: 20px;
    width: 20px;
}

/* Per i navlink */
a {
    text-decoration: none;
    color: inherit;
}

/* Custom CSS per le informazioni di Nyaa che blocca i link e imposta le grandezze massime */
.torrentInfo img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}

.torrentInfo a {
    /* Disabilito i link su Nyaa, oppure si apre la pagina dentro l'app */
    pointer-events: none !important;
}

.torrentInfo p {
    text-align: justify;
}

.torrentInfo pre {
    overflow: auto;
}
